<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#" th:href="@{/home}">Projeto Dev-Java</a>
				</div>
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                    	<a class = "btn btn-custom" href="#" th:href="@{/logout}">Logout</a>
                    	</li>
	                </ul>
			</div>
		</nav>
	</header>
</body>
</html>